<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Company
</title>
<style>
body
{
font-family: Arial, Helvetica, sans-serif;
 background-image: linear-gradient(white, #F4F8F8);
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

</style>
</head>
<body>


  
  <div class="container">
    {% for i in l%}
        <h1>
            {{i}}
        </h1>
    {% endfor %}
  </div>
  
  
</form>

</body>
</html>
